.container {
  max-width: 100vw;
  margin: 0 auto;
  font-family: monospace;
  padding: 20px;
}

.editor-container {
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden; /* Ensures corners stay rounded */
  margin-bottom: 20px;
  padding:10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.output-box {
  margin-top: 20px;
  background: #1e1d1d;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}